Package: com.quinmoore.watchossoundpack 
Name: watchossoundpack 
Version: 1.0 
Architecture: iphoneos-arm 
Description: WatchOS Sounds in iOS! 
Author: QuinMoore dohvahquiin@icloud.com 
Maintainer: QuinMoore 
Section: Themes 
Depends: winterboard
