Package: com.quinmoore.watchossoundpack 
Name: WatchOS Soundpack
Version: 1.0 
Architecture: iphoneos-arm 
Description: Pretty WatchOS Sounds in iOS! 
Author: QuinMoore 
Section: Themes 
Depends: winterboard

